@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.news{
  padding-top:20px;
  padding-left: 3%;
  padding-right: 3%;
  width: 100%;
}

section#lead-capture {
  background:white;
  box-shadow:0 10px 30px darken(#faf9f6,10%);
  display:flex;
  flex-direction:row-reverse;
  border-radius:24px;
  overflow:hidden;
  padding: 15px;
  width:90%;
  margin: auto;
  margin-top:48px; 
  margin-bottom:48px; 
  gap:36px;
  .visuals, .readables {
    width:100%;
  }
  .visuals { 
    background:url('https://images.unsplash.com/photo-1616422403639-282145aa3e73?crop=edges&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MDcyNjkyOTV8&ixlib=rb-4.0.3&q=80&w=480');
    background-size:cover;
    border-radius:12px;
    width:40%
  }
  .readables {
    width:60%;
    padding:0px 0 24px 24px;
    li { 
      list-style:'✔   ';
      line-height:1.75;
      letter-spacing:0.25px;
      &::marker { color:mix(green,lime) }
    }
    form { 
      border-radius:12px;
      display:flex;
      input[type="email"],
      :-webkit-autofill {
        border-radius:12px;
        background:#faf9f6;
        box-shadow:inset 2px 0 15px fade(#71684e,15%); 
        border:none; 
        padding:0 18px;
        line-height:44px;
        width:100%; 
        color:darken(mix(lime,green),10%);
        -webkit-text-fill-color: darken(mix(lime,green),10%);
        transition:400ms ease all 0s;
        &::placeholder {
          color:fade(#71684e,50%);
          transition:400ms ease all 500ms;
        }
        &:focus { 
          outline: transparent;
          box-shadow:inset 0 0 1px 1px fade(mix(#faf9f6,#71684e),50%), inset 2px 0 15px fade(darkgreen,33%);
          color: darken(mix(lime,green),10%);
          &::placeholder {
            color:fade(#71684e,20%)
          }
        }
        &:valid {
          border-radius:12px 0 0 12px;
          transition:400ms ease all 500ms;
          box-shadow:inset 0 0 1px 1px fade(mix(lime,green),50%), inset 2px 0 15px fade(darkgreen,33%);
        }
      }
      input[type="submit"] {
        border-radius:0 12px 12px 0;
        border:none; 
        background:lighten(green,6%);
        padding:0;
        width:0;
        opacity:0;
        color:white;
        font-weight:600;
        cursor:pointer;
        transition:
          400ms ease padding 0s,
          400ms ease width 0s,
          400ms ease opacity 0s,
          400ms ease background 0s;
      }
      input[type="email"]:valid ~ input[type="submit"] {
        padding:0 18px;
        width:120px;
        opacity:1; 
        transition:
          400ms ease padding 500ms,
          400ms ease width 500ms,
          400ms ease opacity 500ms,
          400ms ease background 0s;
        &:hover {
          background:lighten(green,10%)
        }
      }
    }
    span.fine-print {
      opacity:0.75;
      display:block;
      font-size:12px;
      letter-spacing:0.25px;
      margin:18px 0 0;
      position:relative;
      text-align:center;
      padding:0 0 0 32px;
      text-align:left; 
      div.lock-icon svg {
        position:absolute;
        top:0;
        left:0;
        width:24px;
        height:24px;
        opacity:0.333;
      }
    }
  }
  #please {
    transition:400ms opacity 0ms;
  }
  #thanks {
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    max-width:100%;
    height:0;
    opacity:0;
    z-index:-1;
    transition:400ms opacity 400ms;
  } 
  @media screen and (max-width:800px) { 
    /* margin:24px; */
    #lead-capture {
      flex-direction:row
    }
    .visuals {
      display:none
    }
    .readables {
      width:100%;
      padding-right:24px
    }
    span.fine-print {
      max-width:42ch
    }
  }
}


body {
  display:flex;
  min-height:100vh;
  align-items:center;
  justify-content:center;
  font-family:"DM Sans", system-ui, sans-serif;
  background: #faf9f6; 
  color:#71684e;
} 

h2 {
  font-weight:900;
  font-size:28px;
}


